block signup
  h1= title
  p Welcome to the Signup Page
  form(id="signupForm")
    div
      label(for="username") Username:
      input(type="text" id="username" name="username" required)
    div
      label(for="password") Password:
      input(type="password" id="password" name="password" required)
    div
      button(type="button" onclick="submitSignup()") Signup
    div
      a(href="/login") login
script.
  function submitSignup() {
    const username = document.getElementById('username').value;
    const password = document.getElementById('password').value;

    fetch('/signup', {
      method: 'POST',
      headers: {
        'Content-Type': 'application/json',
      },
      body: JSON.stringify({username, password}),
    })
            .then(response => {
              if (response.ok) {
                return response.json(); // Assuming the server responds with JSON on success
              } else {
                throw new Error('Signup failed with status: ' + response.status);
              }
            })
            .then(data => {
              // Handle the response data here
              // For example, if the server sends a success message, you can alert it
              alert("Successfully signed up! Message: " + data.message); // Adjust according to your API response
            })
            .catch(error => {
              console.error('Error:', error);
              alert(error.message);
            });
  }